<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/index.css">
    <link rel="stylesheet" href="./index.css">
    <title>Document</title>
  </head>
  <body>
    <form>
      <label for="email">Email</label>
      <input
        class="input"
        id="email"
        type="email"
        placeholder="Enter your email"
        required
      ></input>
      <div>
        <img src="../../assets/icons/error.svg" alt="Error icon">
        <span class="hint">User is not found</span>
      </div>
      <label for="password">Password</label>
      <input
        class="input"
        id="password"
        type="password"
        placeholder="Enter your password"
        required
        minlength="6"
        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{6,}$"
      ></input>
      <div>
        <img src="../../assets/icons/error.svg" alt="Error icon">
        <span class="hint">Wrong password</span>
      </div>
      <button type="submit">Log in</button>
    </form>
  </body>
</html>

