.button {
  display: block;
  min-width: 100%;
  min-height: 40px;
  padding: 12px;
  border: none;
  border-radius: 2px;
  word-wrap: break-word;
  cursor: pointer;
}

.button > * {
  vertical-align: middle;
  font-size: 20px;
}

.button img {
  margin-right: 16px;
  height: 24px;
}

/* COLORS */

.button_primary {
  background-color: var( --blue-primary );
  color: var( --white );
}

.button_primary:hover {
  background-color: var( --blue-tint-1 );
}

.button_primary:active {
  background-color: var( --blue-shade-1 );
}

.button_secondary {
  background-color: var( --gray-tint-5 );
  color: var( --gray-primary );
}

.button_secondary:hover {
  background-color: var( --gray-tint-4 );
}

.button_secondary:active {
  background-color: var( --gray-tint-3 );
}

/* SIZES */

.button_medium {
  display: inline-block;
  min-width: 79px;
  min-height: 40px;
  padding: 12px 24px;
  font-size: 16px;
}

.button_large {
  display: inline-block;
  min-width: 99px;
  min-height: 56px;
  padding: 16px 32px;
  font-size: 18px;
}

.button_icon {
  display: inline-block;
  width: 40px;
  min-width: 40px;
  height: 40px;
  padding: 12px;
  background-color: var( --white );
}

.button_icon::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: center center / contain no-repeat;
}

.expand_button.button_icon::before {
  background-image: url('../../assets/icons/expand-arrow.svg');
}
