.fullwidth {
  width: 100%;
  min-width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1120px;
  padding: 0 8px;
}

.pos-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50% );
}

.pos-centered--hor {
  position: absolute;
  left: 50%;
  transform: translate( -50%, 0 );
}

.pos-centered--ver {
  position: absolute;
  top: 50%;
  transform: translate( 0, -50% );
}
