.notification {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;

  /* styling */
  --current-color: var( --info-color );
  border: 1.5px solid rgb( var( --current-color ) );
  background-color: rgba( var( --current-color ), 0.25 );
  min-width: 200px;
  height: 50px;
  line-height: 50px;
  border-radius: 10px;
  text-align: center;
  opacity: 0;
  animation: fadeOut 0.2s linear;
}

.notification.visible {
  opacity: 1;
  animation: fadeIn 0.2s linear;
}

.notification--success {
  --current-color: var( --success-color );
}

.notification--error {
  --current-color: var( --error-color );
}

.notification--warning {
  --current-color: var( --warning-color );
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
