.grid {
  --col-gap: var( --space-4 );
  --columns: calc( var( --col-end ) - var( --col-start ) + 1 );
  position: relative;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(var( --columns , 12 ), [col-start] 1fr [col-end]);
  grid-template-rows: minmax(100%, auto);
  column-gap: var( --col-gap );
  padding: 0 calc( 0.5 * var( --col-gap ) );
}

.grid > * {
  position: absolute;
  inset: 0;
  grid-column-start: col-start var( --col-start, 1 );
  grid-column-end:   col-end   var( --col-end, 1 );
}

[class*="col-1/"]  { --col-start: 1; }
[class*="col-2/"]  { --col-start: 2; }
[class*="col-3/"]  { --col-start: 3; }
[class*="col-4/"]  { --col-start: 4; }
[class*="col-5/"]  { --col-start: 5; }
[class*="col-6/"]  { --col-start: 6; }
[class*="col-7/"]  { --col-start: 7; }
[class*="col-8/"]  { --col-start: 8; }
[class*="col-9/"]  { --col-start: 9; }
[class*="col-10/"] { --col-start: 10; }
[class*="col-11/"] { --col-start: 11; }
[class*="col-12/"] { --col-start: 12; }

[class*="/1"]  { --col-end: 1; }
[class*="/2"]  { --col-end: 2; }
[class*="/3"]  { --col-end: 3; }
[class*="/4"]  { --col-end: 4; }
[class*="/5"]  { --col-end: 5; }
[class*="/6"]  { --col-end: 6; }
[class*="/7"]  { --col-end: 7; }
[class*="/8"]  { --col-end: 8; }
[class*="/9"]  { --col-end: 9; }
[class*="/10"] { --col-end: 10; }
[class*="/11"] { --col-end: 11; }
[class*="/12"] { --col-end: 12; }
