.fullwidth {
  width: 100%;
  min-width: 100%;
}

.container {
  margin: 0 auto;
  max-width: var( --container-max, 1200px );
  padding: 0 8px;
}

/* .container {
  width: min(100% - var( --space-4 ), var( --container-max ) );
  margin-inline: auto;
} */

.absolute-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50% );
}

.absolute-centered--hor {
  position: absolute;
  left: 50%;
  transform: translate( -50%, 0 );
}

.absolute-centered--ver {
  position: absolute;
  top: 50%;
  transform: translate( 0, -50% );
}
