.fullwidth {
  width: 100%;
  min-width: 100%;
}

.container {
  margin: 0 auto;
  max-width: var( --container-max, 1200px );
  padding: 0 8px;
}

.absolute-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50% );
}
